.ProductCard {
    position: relative;
    width: 100%;
    max-width: 320px;
    background: #fff;
    border: 1px solid #ddd;
    transition: border-color 0.25s, box-shadow 0.25s;
    display: flex;
    flex-direction: column;
}

.ProductCard-image {
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
}

.listresult {
    padding-bottom: 4rem;
}

.ProductCard .ProductName {
    word-wrap: break-word;
}

.ProductName-primary {
    font-weight: 700;
}
.ProductName, .ProductName-primary, .ProductName-alt, .ProductName-styleDescription {
    display: block;
    line-height: 1;
}
.ProductName-alt {
    font: 0.875rem/1.33333 Roboto, Arial, sans-serif;
    margin-top: 0.95rem;
    color: #515151;
}