.ProductCard {
    position: relative;
    width: 100%;
    max-width: 320px;
    background: #fff;
    border: 1px solid #ddd;
    transition: border-color 0.25s, box-shadow 0.25s;
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    padding-bottom: 8px;
}

.ProductCard-image {
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
}

.listresult {
    padding-bottom: 4rem;
}

.ProductCard .ProductName {
    word-wrap: break-word;
}

.ProductName-primary {
    font-weight: 700;
}
.ProductName, .ProductName-primary, .ProductName-alt, .ProductName-styleDescription {
    display: block;
    line-height: 1;
}
.ProductName-alt {
    font: 0.875rem/1.33333 Roboto, Arial, sans-serif;
    margin-top: 0.95rem;
    color: #515151;
}

.btn-line-link {text-decoration: none;padding: 0 1px;padding-bottom: 3px;background-repeat: repeat-x;background-position: 0 2px;background-image: linear-gradient(to top, currentColor 3px, transparent 3px);transition: background-position 0.25s;}
.btn-line-link:hover {background-position: 0 0;}